.upper {
  position: absolute;

  height: 629px;
  width: 100vw;

  bottom: 0;
  z-index: 3;

  background-size: cover;
  background-repeat: no-repeat;

  transition: background 1s linear;
}
.mid {
  position: absolute;

  height: 809px;
  width: 100vw;

  left: 0;
  bottom: 180px;
  z-index: 2;

  background-size: cover;
  background-repeat: no-repeat;

  transition: background 1s linear;
}
.lower {
  position: absolute;

  height: 489px;
  width: 100vw;

  left: 0;
  bottom: 350px;
  z-index: 1;

  background-size: cover;
  background-repeat: no-repeat;

  transition: background 1s linear;
}
