.App {
  text-align: center;

  position: relative;

  height: 100%;
  z-index: 0;
}

.background-upper{
  position: absolute;
  bottom: 0;

  z-index: 3;
  height:629px;
  width: 100%;

  background-image: url('./assets/background_mountain/upper_layer.svg');
}
.background-mid{
  background-image: url('./assets/background_mountain/mid_layer.svg');

  height: 809px;
  width: 100%;

  position: absolute;
  z-index:2;
  left:0;
  bottom:180px;
}
.background-lower{
  background-image: url('./assets/background_mountain/lower_layer.svg');

  height: 489px;
  width: 100%;

  position: absolute;
  z-index:1;
  left:0;
  bottom:350px;
}
